{% extends 'layouts/application.html' %}

{% block content %}
<header class="header">
  <h1 class="logo">
    <img src="../images/bdg-logo.svg" alt="Billion Dollar Game" width="160" height="33"/>
  </h1>
  <div class="share">
      <p>Share the billion dollar game with your friends!</p>
      <a class="facebook-share"><img src="../images/share-facebook.svg"  alt="Share on Facebook"/></a>
  </div>
</header>

<section class="main">
  <aside class="scores">
    <div class="date-container">
        <div class="date-label">
          <p>Today</p>
        </div>
        <div class="date-scores">
          <div class="scoreboard scoreboard-small">
            <div class="score-container">
              <div class="team team-home">
                <img src="../images/flags/BRA.svg" alt="brazil flag"/>
                <p>BRA</p3>
              </div>
              <div class="score score-small">
                <h3>3 : 1</h3>
              </div>
              <div class="team team-away">
                <img src="../images/flags/ESP.svg" alt="spain flag"/>
                <p>ESP</p>
              </div>
            </div>
            <div class="time">
              <p class="time-text">live</p>
            </div>
            <p class="game-value"><span class="currency">€ </span><span class="value">790 512 040</span></p>
          </div>
          <div class="scoreboard scoreboard-small past">
            <div class="score-container">
              <div class="team team-home">
                <img src="../images/flags/BRA.svg" alt="brazil flag"/>
                <p>BRA</p3>
              </div


              >
              <div class="score score-small">
                <h3>3 : 1</h3>
              </div>
              <div class="team team-away">
                <img src="../images/flags/ESP.svg" alt="spain flag"/>
                <p>ESP</p>
              </div>
            </div>
            <div class="time">
              <p class="time-text">live</p>
            </div>
            <p class="game-value"><span class="currency">€ </span><span class="value">790 512 040</span></p>
          </div>
        </div>
    </div>

  </aside>
  <div class="left-spacer"></div>
  <section class="game">
    <div class="scoreboard scoreboard-big">
      <p class="grey">Group C, Round 2</p>
      <div class="score-container">
        <div class="team team-home">
          <img src="../images/flags/BRA.svg" alt="brazil flag"/>
          <h3>BRA</h3>
        </div>
        <div class="score score-big">
          <h3>3 : 1</h3>
        </div>
        <div class="team team-away">
          <img src="../images/flags/ESP.svg" alt="spain flag"/>
          <h3>ESP</h3>
        </div>
      </div>
      <div class="time">
        <p class="time-text">45'</p>
      </div>
    </div>
    <div class="total">
      <p class="grey">Total market value of all players</p>
      <p class="total-value"><span class="currency">€ </span><span class="value">1 500 000 000</p>
      <p class="grey">Total value by team</p>
      <div class="chart">
        <div class="home-chart"></div>
      </div>
      <div class="team-values">
        <p class="team-value"><span class="currency">€ </span><span class="value">790 500 000</span></p>
        <p class="team-value"><span class="currency">€ </span><span class="value">722 000 000</span></p>
      </div>
    </div>
    <div class="players">
      <p class="grey">The most valuable players</p>
      <div class="top-players">
        <div class="top-player">
          <div class="left">
            <div class="badge">
              <img class="flag" src="../images/flags/BRA.svg" width="20px" height="14px" alt="brazil flag"/>
            </div>

          </div>
          <div class="right">
            <p><span class="currency">€ </span><span class="value">123 000 000</span></p>
            <p class="player-name">Neymar Jr</p>
          </div>
        </div>
        <div class="top-player">
          <div class="left">
            <div class="badge">
              <img class="flag" src="../images/flags/ESP.svg" width="20px" height="14px" alt="spain flag"/>
            </div>
          </div>
          <div class="right">
            <p><span class="currency">€ </span><span class="value">123 000 000</span></p>
            <p class="player-name">Sacma Koke Cabrón</p>
          </div>
        </div>
      </div>
    </div>
    <div class="pitch">

    </div>
    <div class="share share--center">
        <p>Share the billion dollar game with your friends!</p>
        <a class="facebook-share"><img src="../images/share-facebook.svg" alt="Share on Facebook"/></a>
    </div>
    <div class="illustration">
      <img src="../images/team-illustration.svg" alt="">
    </div>
  </section>
  <section class="buy">
    <p>That would buy you:</p>
    <div class="buy-items">
      <div class="item">
        <img src="../images/watering.svg"/>
        <h4 class="buy-value-name">x <span class="buy-value">200 000 000</span></br>water wells</h4>
        <p>That is enough to serve 2 mln people in developing countries.</p>
      </div>
      <div class="item">
        <img src="../images/stadium.svg"/>
        <h4 class="buy-value-name"><span class="buy-value">The Luzhniki Stadium</span></h4>
        <p>This is where the World Cup final will be played.</p>
      </div>
      <div class="item">
        <img src="../images/basketball.svg"/>
        <h4 class="buy-value-name"><span class="buy-value">Jordan and LeBron</h4>
        <p>It's how much Jordan and LeBron are worth. I'll throw in 50 Cent for free.</p>
      </div>
    </div>
  </section>
</section>

<script id="scoreboard-template" type="text/x-lodash-template">
  <div class="scoreboard scoreboard-small past">
    <div class="score-container">
      <div class="team team-home">
        <img src="<%= homeFlag %>" alt=""/>
        <p><%= homeShortName %></p3>
      </div>
      <div class="score score-small">
        <h3><%= homeScore %> : <%= awayScore %></h3>
      </div>
      <div class="team team-away">
        <img src="<%= awayFlag %>" alt=""/>
        <p><%= awayShortName %></p>
      </div>
    </div>
    <div class="time">
      <p class="time-text">live</p>
    </div>
    <p class="game-value"><span class="currency">€ </span><span class="value"><%= gameValue %></span></p>
  </div>
</script>

{% endblock %}
